name: Build & Test on Push

on:
  push:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Make Gradle executable
        run: chmod +x ./gradlew

      - name: Run Unit Tests
        run: ./gradlew test --stacktrace

      - name: Build Debug APK
        run: ./gradlew assembleDebug --stacktrace
